$global-url:        "panthercare.squareballoon.co.uk/";
$template-url:      "templates/";
$main-template-url: "tpl_joomla_day_usa";

$url:               $global-url + $template-url + $main-template-url;