#belowFooter {
  background-color: $blue--medium;
  padding: 17px 5px 39px;
  text-align: center;
  color: $white;
  font-size: 0.75rem;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 0;
  text-transform: uppercase;
}