#belowHero {
  position: relative;
  .custompure-u-1 {
    @include breakpoint(desktop) {
      padding: 45px 0 45px 20px;
    }
  }
  p {
    margin: 0;
    font-size: 1.875rem;
    line-height: 45px;
    font-weight: 500;
    color: $white;
    text-align: center;
  }
}