#belowHero {
  position: relative;
  > div {
    display: flex;
    align-items: center;
  }
  .custompure-u-1 {
    @include breakpoint(desktop) {
      padding: 45px 0 45px 20px;
    }
  }
  h3 {
    font-size: 2.1875rem;
    line-height: 38px;
  }
  p {
    margin: 0;
    font-size: 1.875rem;
    line-height: 45px;
    font-weight: 500;
    color: $white;
    text-align: center;
    @include breakpoint(desktop) {
      text-align: center;
    }
  }
}