#footer {
  background: urL('../../../images/backgrounds/Footer.jpg') no-repeat;
  background-size: cover;
  @include breakpoint(desktop) {
    padding: 95px 5px 57px;
  }

  .pure-g {
    > div {
      margin: 0.5rem 0;
      @include breakpoint(desktop) {
        margin: 0;
      }
    }

    > div:nth-of-type(5) {
      margin-right: 0.75rem;
      @include breakpoint(desktop) {
        margin: 0;
      }
    }
  }

  p {
    margin: 0 12px 0 0;
    font-size: 0.9375rem;
    line-height: 25px;
    color: $blue--medium;
    font-weight: 500;
  }

  h4 {
    //padding-left: 60px;
    font-size: 2.375rem;
    line-height: 40px;
    color: $blue--medium;
    margin: 0 0 24px 0;
  }

  .module-title {
    font-size: 1.125rem;
    line-height: 22px;
    color: $blue--medium;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif !important;
    margin-top: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  li:not(:last-child) {
    padding-right: 13px;
    margin-right: 13px;
  }

  a {
    color: $blue--medium;
  }

  .footer-logo {
    text-align: center;
    @include breakpoint(desktop) {
      text-align: left;
    }
    img {
      max-width: 177px;
      margin: 0 auto;
      @include breakpoint(desktop) {
        max-width: 137px;
        margin: 0 0;
      }
    }
  }
  .custompure-u-md-6-24.pure-u-sm-12-24 {
    width: revert;
  }
}