.menu--footer {
  text-align: center;
  width: 100%;
  .pure-menu-list {
    width: 100%;
    margin-bottom: 8px;
    list-style: none;
    a {
      color: $white;
      font-size: 0.8rem;
      line-height: 22px;
      padding-bottom: 5px;
      &:hover {
        border-bottom: 1px solid $white;
      }
    }
    li {
      padding-right: 10px;
      display: inline-block;
    }
    li:first-of-type {
      a {
        padding: 0 0 5px 0;
      }
    }
    li:last-of-type {
      padding: 0;
      a {
        background: none;
        padding: 0 0 5px 0;
        font-size: 0.8rem;
        line-height: 22px;
      }

    }
  }
}