.menu--footer {
  text-align: center;
  width: 100%;
  .pure-menu-list {
    a {
      color: $white;
      font-size: 0.8rem;
      line-height: 22px;

    }
    li:first-of-type {
      a {
        padding: 0;
      }
    }
    li:last-of-type {
      padding: 0;
      a {
        background: none;
        padding: 0;
        font-size: 0.8rem;
        line-height: 22px;
      }

    }
  }
}