#feature,
#callToAction {
  color: #ffffff;
  padding: 0;
  .pure-g {
    align-items: center;
  }
  .pure-u-md-8-24 {
    padding: $padding;
    @include breakpoint(desktop) {
      max-width: 372px;
      margin-left: auto;
      padding: 20px 88px 20px 20px ;
    }
  }
  .module-title {
    margin-top: 0;
  }
  h3 {
    font-size: 2.1875rem;
    line-height: 38px;
    font-weight: 400;
    margin-bottom: 11px;
    color: $white;
  }
  p {
    font-size: 1.125rem;
    line-height: 28px;
    font-weight: 500;
    color: $white;
  }
  img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}
#feature {
  color: $blue--medium;
  h3, p, li {
    color: $blue--medium;
  }
  div:nth-of-type(2).pure-u-md-8-24 {
    @include breakpoint(desktop) {
      margin-left: 0;
      padding: 20px 20px 20px 88px;
    }
  }
}

#feature {
  div:nth-of-type(2) {
    padding: $padding;
  }
}


